__pycache__
dfs
webapp/__pycache__
.DS_Store
webapp/webapp/__pycache__
.ipynb_checkpoints
im
test_for_insight-cdfacb17d596.json
webapp/webapp/static/*.pickle
*.ipynb
artist_name_categories
webapp/__init__.pyc
webapp/*.pyc
*.pyc
figs
file_output
insightart.pem
nameservers.txt
files
