{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="row">
       <div class="col-xs-6 col-md-6">
         <div class="itemresult">
           <img class="img-responsive center-block" src="{{imgout.0}}" />
           <span class="caption"><a href="{{glink.0}}">learn more</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{{alink.0}}">buy a print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{{hreslink.0}}">high-res</a> </span>
        </div>
       </div>

       <div class="col-xs-6 col-md-6">
         <div class="itemresult">
           <img class="img-responsive center-block" src="{{imgout.1}}" />
           <span class="caption"><a href="{{glink.1}}">learn more</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{{alink.1}}">buy a print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{{hreslink.1}}">high resolution</a> </span>
        </div>
       </div>
     </div>

     <br><br>
     <div class="row">
     <div class="col-xs-6 col-md-6">
     <div class="itemresult">
       <img class="img-responsive center-block" src="{{imgout.2}}" />
       <span class="caption"><a href="{{glink.2}}">learn more</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <a href="{{alink.2}}">buy a print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <a href="{{hreslink.2}}">high-res</a> </span>
    </div>
   </div>
   <div class="col-xs-6 col-md-6">
     <div class="itemresult">
       <img class="img-responsive center-block" src="{{imgout.3}}" />
       <span class="caption"><a href="{{glink.3}}">learn more</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <a href="{{alink.3}}">buy a print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <a href="{{hreslink.3}}">high-res</a>
                           <br> Howdy - by Doody</span>
    </div>
   </div>
     </div>
    </div>
    <br><br>
    <a href="">I'm unhappy with these results</a>
{% endblock %}
