{% extends "base.html" %}
{% block content %}
<form action="/a" method="POST", id="form">
    <select name="q" id="selectImage" multiple="multiple" class="image-picker">
      {% for item in img %}
          <option data-img-src="{{item}}" value="{{loop.index0}}"></option>
      {% endfor %}
    </select>
    <script>
      jQuery("select.image-picker").imagepicker({
      hide_select:  true,
      });
    </script>
    <p><input type="submit" value="submit" class="btn btn-default"></p>
  </form>
{% endblock %}
