{% extends "base.html" %}
{% block content %}
<h1>Click on art you like</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if error %}
  <div class="alert alert-danger" role="alert">
    <h3 class=error><strong>Error:</strong> {{ error }}
    </div>
  {% endif %}
<form action="/results" method="POST", id="form">
  <select name="q" id="selectImage" multiple="multiple" class="image-picker">
    {% for item in img %}
        <option data-img-src="{{item}}" value="{{loop.index0}}"></option>
    {% endfor %}
  </select>
  <script>
    jQuery("select.image-picker").imagepicker({
    hide_select:  true,
    });
  </script>
  <p><input type="submit" value="submit" class="btn btn-lg btn-primary"></p>
</form>
{% endblock %}
