{% extends "base.html" %}
{% block content %}
 <h1>Your Closest Matches</h1>
    <div class="container">
      <div class="row">
       <div class="col-xs-12 col-md-6">
         <div class="itemresult">
           <img class="img-responsive center-block" src="{{imgout.0}}" />
           <span class="caption"><a href="{{glink.0}}">learn more</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{{alink.0}}">buy a print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{{hreslink.0}}">high-res</a>
                                 <br>{{artwork_name.0}}</span>
        </div>
       </div>

       <div class="col-xs-12 col-md-6">
         <div class="itemresult">
           <img class="img-responsive center-block" src="{{imgout.1}}" />
           <span class="caption"><a href="{{glink.1}}">learn more</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{{alink.1}}">buy a print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{{hreslink.1}}">high resolution</a>
                                 <br>{{artwork_name.1}}</span>
        </div>
       </div>
     </div>

     <br><br>
     <div class="row">
     <div class="col-xs-12 col-md-6">
     <div class="itemresult">
       <img class="img-responsive center-block" src="{{imgout.2}}" />
       <span class="caption"><a href="{{glink.2}}">learn more</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <a href="{{alink.2}}">buy a print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <a href="{{hreslink.2}}">high-res</a>
                             <br>{{artwork_name.2}}</span>
    </div>
   </div>
   <div class="col-xs-12 col-md-6">
     <div class="itemresult">
       <img class="img-responsive center-block" src="{{imgout.3}}" />
       <span class="caption"><a href="{{glink.3}}">learn more</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <a href="{{alink.3}}">buy a print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <a href="{{hreslink.3}}">high-res</a>
                             <br>{{artwork_name.3}}</span>
    </div>
   </div>
     </div>
    </div>
    <br><br>
    <div class="page-header">
       <h1>Some things you might like...</h1>
     </div>
    <!-- <u>Here are some things you may like</u>: -->
    {% for feat in top_features %}
      {% if loop.index < 5 %}
        <h{{loop.index}}><span class="label label-default">{{feat}}</span></h{{loop.index}}>
      {% else %}
        <h4><span class="label label-default">{{feat}}</span></h4>
      {% endif %}
        <!-- <br>{{feat}} -->
    {% endfor %}
    <br><br>
    <a href="{{url_for('unhappy')}}">I'm unhappy with these results</a>
{% endblock %}
